:root{
    --main-dark:#222;
    --white:#fff;
    --nav-col:#efefef;
    --nav-col-hov:#444;
    --footer-second-col:#88f;
    
}
body{
    margin:0;
    padding:0;
    font-size: 15px;
    background: var(--white);
}
.nav{
    background: var(--main-dark);
    color:var(--white);
    padding: 20px 30px;
    width: 100%;
    display: flex;
    position: relative;
    top: 0px;
}
.nav > .nav-header{
    padding: 10px;
    flex:0.9;
}
.nav > .nav-header > .nav-title{
    font-size: 20px;
    color: var(--white);
}
.nav > .nav-header > .nav-title img{
    height: 40px;
}
.nav > .nav-header > .nav-title a{
    text-decoration: none;
}
.nav > .nav-header > .nav-title img:hover{
    opacity: 0.5;
}
.nav > .nav-list{
    display: flex;
    gap: 2rem;
}
.nav > .nav-list li{
    list-style-type: none;
    padding-right: 20px;
    margin-top: 5px;
}
.nav > .nav-list > li a{
    text-decoration: none;
    color: var(--nav-col);
    padding: 10px 15px;
}
.nav > .nav-list > li a:hover{
    text-decoration: none;
    color:var(--nav-col-hov);
    padding: 15px 20px;
   
}
.nav > #nav-check{
    display: none;
}
@media(max-width:900px){
    .nav{
        padding: 1rem;
    }
    .nav > .nav-btn{
        display: inline-block;
        position:absolute;
        right: 0;
        top: 0;
    }
    .nav > .nav-btn > label{
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label > span{
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #efad15;
    }
    .nav > .nav-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        background-color: var(--main-dark);
        left:0;
        overflow: hidden;
        top: 40px;
    }
footer{
    background: var(--main-dark);
    color: #777777;
    padding: 50px;
    text-align: center;
    left :0;
    bottom: 0;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: var(--white);
}
footer a:hover{
    color: var(--footer-second-col);
}
}